[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/djarillo
[access "refs/for/refs/*"]
	read = group user/djarillo
	push = group user/djarillo
	label-Code-Review = -2..+2 group user/djarillo
	label-Verified = -1..+1 group user/djarillo
	rebase = group user/djarillo
	removeReviewer = group user/djarillo
	submit = group user/djarillo
[access "refs/heads/*"]
	read = group user/djarillo
	create = group user/djarillo
	push = +force group user/djarillo
	pushMerge = group user/djarillo
[access "refs/tags/*"]
	push = group user/djarillo
	push = +force group user/djarillo
